body{
    background-color: rgb(197, 209, 211);
}

#navbar{
    background-color: teal;
    width: 80rem;
    margin: auto;
    display: flex;
    justify-content: right;
    padding: 0.5rem;
    border: 0.1rem solid teal;
}
#navbar>div{
    margin-left: 4rem;
    font-size: 1.8rem;
    cursor: pointer;
}
a{
    font-style: none;
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgba(16, 19, 245, 0.973);
}

#slideshow{
    width: 80rem;
    height: 25rem;
    margin: auto;
    margin-top: 1rem;
    /* border: 1rem solid red; */
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0.6rem;
}
img{
    width: 100%;
    height: 25rem;
}

#movies{
    width: 80rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
    gap: 0.5rem;
    padding: 0.4rem;
}
#movies>div{
    margin: auto;
    padding: 0.5rem;
    /* border: 0.2rem solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
}
img{
    width: 100%;
}

#sort{
    width: 15rem;
    height: 2rem;
    background-color: teal;
    font-size: 1.5rem;
    margin-left: 10rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}